<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC-TRANSPORT</title>
    <link rel="stylesheet" href="{{asset('css/acceuil.css')}}">
    <link rel="stylesheet" href="{{asset('cssd/css/all.min.css')}}">
    <link href="{{asset('img/logoac1.png')}}" rel="shortcut icon">
 
</head>
    <div class="banniere">
            <img src="{{asset('img/logoac1.png')}}" class="img-eso-dev2"/><span class="span2"><h3></h3></span>
            
            <nav>

                <div class="hamburger">
                    <div class="lines">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                <div class="croix"></div>
    </div>

                <header class="header">
                    <img src="{{asset('img/logoac1.png')}}"  class="img-eso-dev"/>
                    <span class="span1">
                        <h3></h3>
                    </span>
                    <a href="{{asset('acceuil.html')}}">ACCEUIL</a>
                    <a href="{{asset('qui-somme-nous.html')}}">QUI SOMME NOUS</a>
                    <ul>
                        <li id="principal2"><a href="{{asset('voiture.html')}}">NOS VEHICULES <i class="fa fa-angle-down" style="font-size: 20px;position: relative;top:3px"></i> </a>
                            <ul id="submenu">
                                <li><a href="{{asset('categorieA.blade.php')}}">Catégorie A</a></li>
                                <li><a href="{{asset('categorieE.html')}}">Catégorie E</a></li>
                                <li><a href="{{asset('categorieI.html')}}">Catégorie I</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul>
                        <li id="principal2"><a href="#">NOS MARQUES <i class="fa fa-angle-down" style="font-size: 20px;position: relative;top:3px"></i> </a>
                            <ul id="submenumark">
                                <li><a href="categorieA.html">BMW</a></li>
                                <li><a href="categorieE.html">TOYOTA</a></li>
                                <li><a href="categorieI.html">JEEP</a></li>
                                <li ><a href="categorieI.html" class="ford">FORD</a></li>
                                <li ><a href="categorieI.html" class="ford">MERCEDES</a></li>
                                <li ><a href="categorieI.html" class="ford">KIA</a></li>
                                <li><a href="categorieI.html">PORSCHE</a></li>
                                <li><a href="categorieI.html">NISSAN</a></li>
                                <li><a href="categorieI.html">RENAULT</a></li>
                                <li><a href="categorieI.html">OPEL</a></li>
                                <li><a href="categorieI.html">PEUGEOT</a></li>
                                <li><a href="categorieI.html">MAZDA</a></li>
                                <li><a href="categorieI.html">LAND ROVER</a></li>
                                <li><a href="categorieI.html">HONDA</a></li>
                                <li><a href="categorieI.html">AUDI</a></li>
                                <li><a href="categorieI.html">CITROËN</a></li>
                                <li><a href="categorieI.html">HYUNDAI</a></li>
                                <li><a href="categorieI.html">BUGATTI</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="{{asset('devis.html')}}">DEVIS</a>
                    <a href="{{asset('contact.html')}}">CONTACTS</a>
                </header>
            </nav>

            
            <p class="texteCentreBanniere">VOTRE CONFORT NOTRE PASSION</p>
        </div>
<body>