*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.banniere{
  height:400px;
  background-color:#1484e6;
  background: linear-gradient(to left ,#0000007a,#b3894adb),center/cover no-repeat url(../img/voit5.png);
}

.header{
  height: 95px;
  display: flex;
  justify-content: space-around;
  position:fixed;
  left:0;
  right:0;
  z-index: 5000;
}

.header .span1 h3{
  position:absolute;
  font-size:8px;
  top:68px;
  left:130px;
  font-family:sans-serif;
  color: rgb(173, 190, 190);
  }

.header a{
 font-family:sans-serif;
 font-size:13px;
 margin:35px -1px;
 text-decoration:none;
 color:rgb(248, 250, 252);
 background:#f0f8ff00;
 padding:30px 10px;
}


.header a:nth-child(1){
  margin-top:84px;
  padding:25px 40px;

}
/*texte c'est pour responsive header*/

.img-eso-dev2{
  display: none;
  height: 100px;
  width: 100px;
}

.span2{
  display: none;
}



/**partitr reservé*/

header li{
list-style-type: none;
}



header > ul > li{
display: inline-block;
position: relative;
top:30px;
}



header > ul> li:hover{
background:#5ea6de;

}

header >ul>li:nth-child(1){
background:#83b5dc87;
height:0px;
margin-top:-80px

}

header > ul> li> a{
color: #FFF;
margin:0px 0px ;
padding:0px 50px;
outline:none
}


#submenumark{
  display: none;
  background:#a9b0b5;
  margin-left:-1px
  }

  header li:hover #submenumark{
    display: inline-block;
    position:absolute;
    top:145px;
    left:0px;
    overflow: scroll;
    height:400px;
    padding:5px 10px;
    animation:glisse 0.5s;
    }

    #principal2 #submenumark{
      background-color: rgb(255 255 255);
      border-radius:3px;
     
   }
  
   #submenumark li #a1{
    background:#5a4996;
    color: #fff;
  }
  
  #submenumark li a:hover{
    background:#d47440;
    box-shadow:0px 5px 10px 0.1px #0000002b;
    color:#fff
    }
  
    #submenumark li a{
      font-size: 15px;
      color: #6d6666;
      font-family:sans-serif;
      padding:10px 100px;
      margin-top:1px;
      width:90px;
      background:#00000026;
      font-weight:600;
      transition:0.2s;
      white-space:nowrap;
      margin:5px;
      display:flex;
      justify-content: center;
    }

#submenu{
display: none;
background:#a9b0b5;
margin-left:-1px
}

header a{
display: inline-block;
text-decoration: none;

}

header li:hover #submenu{
display: inline-block;
position: absolute;
top:145px;
left:0px;
padding:5px 10px;
animation:glisse 0.5s
}

@keyframes glisse{
  0%{
    transform:translateY(100px);
    opacity:0;
  }

  100%{
    transform:translateY(0px);
    opacity:1
  }
}



#submenu li a{
  font-size: 15px;
  color: #6d6666;
  font-family:sans-serif;
  padding:10px 100px;
  margin-top:1px;
  width:90px;
  background:#00000026;
  font-weight:600;
  transition:0.2s;
  white-space:nowrap;
  margin:5px;
  display:flex;
  justify-content: center;
}



#submenu li a:hover{
background:#d47440;
box-shadow:0px 5px 10px 0.1px #0000002b;
color:#fff
}


#principal2 #submenu{
   background-color: rgb(255 255 255);
   border-radius:3px
}

header .img-eso-dev{
  position:relative;
  left:70px;
  bottom:5px;
  height: 100px;
  width: 100px;
}



/*fin*/


.banniere p{
  position:absolute;
  left:500px;
  top:200px;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  color: rgb(185, 190, 190);
 font-weight:600;
}

.centre{
  height: 1100px;
  background-color: rgb(235, 235, 240);
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 140px;
  font-family: sans-serif;
}

.centre h3{
  transform: rotate(-1deg);
  margin-bottom:-20px;
  font-size: 40px;
  color: white;
  background-color: #2a4b8a;
}

.centre p{
  font-size: 18px;
  line-height: 3ch;
  color:rgb(90, 88, 88);
}
 .info{
  padding: 50px;
  margin-bottom: 55px;
  font-size: 25px;
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: white;

}
.liste1{
  color: white;
  text-decoration: none;
  background-color:#1a3c83 ;
  font-size: 30px;
margin-right: 50px;
margin-left: 50px;
padding: 25px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
font-weight:bold;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.liste2{
  color: white;
  background-color:#27a2aa ;
  font-size: 30px;
  margin-right: 50px;
margin-left: 50px;
padding: 25px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
font-weight:bold;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.liste3{
  color: white;
  background-color:#d57857 ;
  font-size: 30px;
margin-right: 50px;
margin-left: 50px;
padding: 25px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
font-weight:bold;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.lien{
  text-decoration: none;
  color: white;
}
.membres{
  height: 700px;
  width: 1100px;
  background: #ebebf0;
  margin-top:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.membres h3{
  margin-bottom: 50px;
  margin-top:-10px
}

.membres .nos-images{
 height:300px;
 width: 850px;
 background: #ebebf0;
 display:flex;
 justify-content:center;
 align-items:center;
}

.nos-images div{
  margin:40px;
  height:200px;
  width:300px;
  background:#fff;
  margin-bottom:110px;
  border-radius:100px;
  border: 7px solid #b48a52;
}

.nos-images div:nth-child(1):before{
  content:'';
  position:absolute;
  height:140px;
  width:140px;
  background:center/cover no-repeat url('img/gbane.jpg');
  margin-left:24px;
  margin-top:23px;
  border-radius:100px;
 transition:1s
}

.nos-images .devellopeur-frontend:hover:before{
  transform:scale(1.36);
  transition:1s;
}


.nos-images div:nth-child(2):before{
  content:'';
  position:absolute;
  height:140px;
  width:140px;
  background:center/cover no-repeat url('img/gbane.jpg');
  margin-left:25.5px;
  margin-top:23px;
  border-radius:100px;
 transition:1s
}


.nos-images .devellopeur-backend:hover:before{
  transform:scale(1.36);
  transition:1s;
}


.nos-images div:nth-child(3):before{
  content:'';
  position:absolute;
  height:140px;
  width:140px;
  background:center/cover no-repeat url('img/gbane.jpg');
  margin-left:24px;
  margin-top:23px;
  border-radius:70px;
 transition:1s
}

.nos-images .securite:hover:before{
  transform:scale(1.36);
  transition:1s;
}

.nos-images div h4{
  position:relative;
  top:210px;
  left:20px;
  color: rgb(53, 49, 49);
}

.nos-images div .h4jean{
 margin-left:-15px
}

.nos-images div .h4eric{
  margin-left: 38px
}

.nos-images div h4 strong{
position: relative;
top:5px;
color:#798fa5;
white-space:nowrap;
}

/*liste des activités*/

.listes{
  font-size: 18px;
  color:rgb(90, 88, 88);
  line-height:1.3;
  list-style-type:square;

}



/*footer*/

.footer{
height: 600px;
background: rgb(0, 0, 0);
display:flex;
flex-direction: column;
}

.contener-footer{
height: 520px;
width: 100%;
background: rgb(19 18 18);
display: flex;
justify-content: space-around;
align-items: center;
}

.info1-footer{
margin: 20px;
height: 400px;
width: 400px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
}

.info1-footer h3{
font-family: sans-serif;
font-size: 24px;
color: #fff;
margin-bottom: -80px;
margin-right:20px
}

.info1-footer p{
font-size:17px;
font-family: sans-serif;
line-height: 3ch;
color: #868181;
}

.info2-footer{
margin: 20px;
height: 300px;
width: 300px;
height: 400px;
width: 400px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
} 

.info2-footer h3{
font-family: sans-serif;
font-size: 21px;
color: #fff;
margin-bottom: -80px;
margin-right:30px
}

.info2-footer p{
font-size:17px;
font-family: sans-serif;
line-height: 3ch;
color: #868181;
}


.info3-footer{
margin: 20px;
height: 300px;
width: 300px;
height: 400px;
width: 400px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
}


.info3-footer h3{
font-family: sans-serif;
font-size: 21px;
color: #fff;
margin-bottom: -80px;
margin-right:80px
}

.info3-footer p{
font-size:17px;
font-family: sans-serif;
line-height: 3ch;
color: #868181;
}


.sign{
height:80px;
background-color: rgb(34 33 35);
width:100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.sign p{
font-family: sans-serif;
color: #868181;
margin-left: -105px;
font-size:14px
}

.sign a{
text-decoration: none;
color: #464343;
margin: 10px;
}

.sign a i{
font-size: 35px;
}

.sign #fb{
color: #2a4b8a;
}

.sign #mail{
color: #b43d1f;
}

.sign #whatsap{
color: #369646;
}

.bouton{
height:70px;
width:70px;
background:#2a2a31;
position:fixed;
right:10px;
top:555px;
display:flex;
justify-content:center;
align-items:center;
font-size:25px;
border-radius:50px;
cursor:pointer;
color: #fff;
z-index: 5000;
}

.check1{
height: 150px;
width:150px;
background-color: deeppink;
}

.check2{
height:150px;
width:150px;
background-color: rgb(20, 255, 79);
}

/*partir javascript*/
.black{
background: rgb(19 18 18);
transition: 1s;
}

/*responsive*/

@media only screen and (max-width:1190px){

  .banniere p{
  left:auto;
  right:35%
  }
    header .img-eso-dev{
    left:0px
  }
  
  .header .span1 h3{
  left:5px
  }
  
  }

  @media only screen and (max-width:1110px){
    .membres{
  height: 700px;
  width: 1000px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}


  }

  @media only screen and (max-width:1005px){
    .centre h3{
  margin-bottom: -10px;
  font-size: 30px;
  color: white;
  
}
  }

  @media only screen and (max-width:1040px){
    .content2 img{
    height: 400px;
    width: 500px;
  }
  .centre h3{
  position: relative;
  top: 50px;
  color: white;
  z-index: 10;
}
.info{
  position:relative;
  top: 50px;
  z-index: 1;
}
  }

  @media only screen and (max-width:1015px){
    .centre{
  height: 1100px;
  background-color: rgb(235, 235, 240);
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  font-family: sans-serif;

}

.centre h3{
  position: relative;
  top: 50px;
  color: white;
}
  }

  @media only screen and (max-width:1007px){
    .membres{
  height: 700px;
  width: 900px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  }

  @media only screen and (max-width:1000px){
    .centre p{
  font-size: 17px;
  line-height: 3ch;
  color:rgb(90, 88, 88);
}

.centre h3{
  position: relative;
  top: 50px;
  color: white;
}

.listes{
  font-size: 17px;
  color:rgb(90, 88, 88);
  line-height:1.3;
  list-style-type:square
}

  }

   @media only screen and (max-width:934px){
    .centre{
  height: 1100px;
  background-color: rgb(235, 235, 240);
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-family: sans-serif;
}

.centre h3{
  position: relative;
  top: 50px;
  color: white;
}
  }

    @media only screen and (max-width:910px){
    .membres{
  height: 700px;
  width: 880px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  }


  @media only screen and (max-width:900px){

    .croix{
      color: white;
      font-size:30px;
      position:relative;
      right:7px;
    }
  
  .line{
        height: 3px;
        width: 30px;
        background: white;
        margin: 5px;
    }
    
    nav{
        position: static;
        height:65px;
        width:100%;
        background:rgb(19 18 18);
        top:0px;
      z-index:5;
      margin-top:-109px
    }
    
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top:30px;
        transform: translate(-5%, -50%);
        z-index: 220000;
    }
    
    .header{
        position: static;
        background:#131212 ;
        height: 400px;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
       -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
         display:flex;
         justify-content:center;
         align-items:center
    }
    
    .header.open{
        clip-path: circle(1000px at 90% -10%);
       -webkit-clip-path: circle(1000px at 90% -10%);
       pointer-events: all;
    }
  
    .img-eso-dev2{
      display: flex;
    position:relative;
    left:50px;
    bottom:20px;
    
    z-index:80;
    height: 100px;
    width: 90px;

    }
    .span2{
      display: flex;
    }
  
    .span2 h3{
      position:relative;
      font-size:8px;
      left:20px;
      font-family:sans-serif;
      color: rgb(173, 190, 190);
       bottom:55px;
       z-index:80
      }
  
  
    .span1{
      display: none;
    }
    
    .header a{
   font-family:sans-serif;
   font-size:13px;
   margin:30px -1px;
   text-decoration:none;
   color:rgb(248, 250, 252);
   background:#f0f8ff00;
   padding:3px 10px;
   background:#131212;
  }
  
  
  .header a:nth-child(1){
    margin-top:0px;
    padding:2px 4px;
  }
  
  #principal2{
    position:relative;
    left:0px;
    top:0px
  }
  
  #principal2 #submenu{
  left:95px;
  top:-3px;
  }
  
  .banniere p{
    position:static;
    left:200px;
    top:20px;
   text-align:center;
   margin-top:100px
  }
  
    header .img-eso-dev{
    display:none
  }
  
  .header .span1 h3{
  display:none
  }

.centre{
  height:auto
}

      .membres{
  height: 1050px;
  width: 880px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:950px;
 width: 850px;
 background: #e2e2e2;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
}

.nos-images div{
  margin:0px;
  height:200px;
  width:200px;
  background:#fff;
  margin-bottom:100px;
  border-radius:100px;
  border: 7px solid #798fa5;
}

.nos-images div:nth-child(1):before{
  height:140px;
  width:140px;
  margin-left:24px;
  margin-top:23px;
}

.nos-images div:nth-child(2):before{
  height:140px;
  width:140px;
  margin-left:24px;
  margin-top:23px;
}

.nos-images div:nth-child(3):before{
  height:140px;
  width:140px;
  margin-left:24px;
  margin-top:23px;
}

.nos-images .devellopeur-frontend:hover:before{
  transform:none;
}

.nos-images .devellopeur-backend:hover:before{
  transform:none;
}

.nos-images .securite:hover:before{
  transform:none;
}

  
  .contener-footer{
    height: 500px;
    width: 100%;
    background: rgb(19 18 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column
  }
  
  .footer{
    height:auto
  }
  
  .info1-footer h3{
    font-size: 22px;
    margin-bottom: -5px;
    margin-right:20px
  }
  
  .info2-footer h3{
    font-size: 22px;
    margin-bottom: -2px;
    margin-right:20px
  }
  
  .info3-footer h3{
    font-size: 22px;
    margin-bottom: -5px;
    margin-right:20px
  }
  
  .sign p{
  font-family: sans-serif;
  color: #868181;
  margin-left:0px;
  font-size:14px
  }
  
  
  .sign{
    height:40px;
    background-color: rgb(34 33 35);
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .bouton{
  height:50px;
  width:50px;
  background:#2a2a31;
  position:fixed;
  right:10px;
  top:520px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:25px;
  border-radius:50px;
  cursor:pointer;
  color: #fff;
  z-index: 5000;
  }
  }

  @media only screen and (max-width:890px){
   .membres{
  height: 1050px;
  width: 500px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:950px;
 width: 450px;
  background:#e2e2e2;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column
}

  }

  @media only screen and (max-width:713px){
   .centre h3{
  margin-bottom: 50px;
  font-size: 25px;
  color: white;
  white-space:nowrap
}


  }


  @media only screen and (max-width:590px){
    .sign a i{
    font-size: 25px;
  }
  .sign p{
  font-size:12px
  }
  }


  @media only screen and (max-width:575px){
    #submenu li a{
      font-size: 13px;
      color: #6d6666;
      font-family:sans-serif;
      padding:7px 60px;
      margin-top:1px;
      width:90px;
      background:#00000026;
      font-weight:600;
      transition:0.2s;
      white-space:nowrap;
      margin:5px;
      display:flex;
      justify-content: center;
    }
    }


     @media only screen and (max-width:530px){

      

   .membres{
  height: 800px;
  width: 500px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:700px;
 width: 450px;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column
}



.nos-images div{
  margin:0px;
  height:150px;
  width:150px;
  background:#fff;
  margin-bottom:55px;
  border-radius:100px;
  border: 7px solid #798fa5;
}

.nos-images div:nth-child(1):before{
  height:136px;
  width:136px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div:nth-child(2):before{
  height:136px;
  width:136px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div:nth-child(3):before{
  height:136px;
  width:136px;
  margin-left:0px;
  margin-top:0px;
}


.nos-images div h4{
  position:relative;
  top:150px;
  left:5px;
  color: rgb(53, 49, 49);
  font-size:12.5px
}

.nos-images div .h4eric{
  margin-left: 30px
}

  }






    @media only screen and (max-width:506px){
      .sign a i{
      font-size: 20px;
    }
    .sign p{
    font-size:10px
    }
    
    .sign a{
      text-decoration: none;
      color: #464343;
      margin: 3px;
    }
    
    
    .info1-footer p{
      font-size:13px;
    
    }
    
    .info2-footer p{
      font-size:13px;
    
    }
    
    .info3-footer p{
      font-size:13px;
    
    }
    
    .info1-footer h3{
      font-size: 17px;
    
    }
    .info2-footer h3{
      font-size: 17px;
    
    }
    .info3-footer h3{
      font-size: 17px;
    
    }

       .centre h3{
  margin-bottom: 50px;
  font-size: 20px;
  color: white;
  white-space:nowrap
}


   .membres{
  height: 800px;
  width: 350px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:700px;
 width: 250px;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
margin-top:-50px
}

.membres h3{
  margin-top:0px
}
    
    
    }


    @media  only screen and (max-width:462px){
      .img-eso-dev2{
        height:80px;
        width:85px;
        bottom:25px

      }
    
        .span2 h3{
        position:relative;
        font-size:8px;
        left:10px;
        font-family:sans-serif;
        color: rgb(173, 190, 190);
         bottom:48px;
         z-index:20
        }
    
        .header{
          height:415px
        }
    
        .centre p{
  font-size: 15px;
  line-height: 3ch;
  color:rgb(90, 88, 88);
   }

   .listes{
  font-size: 15px;
  color:rgb(90, 88, 88);
  line-height:1.3;
  list-style-type:square
}


    }


    @media only screen and (max-width:422px){
      .info1-footer{
      margin: 20px;
      height: 400px;
      width: 300px;
    
    }
    
      .info2-footer{
      margin: 20px;
      height: 400px;
      width: 300px;
    
    }
    
      .info3-footer{
      margin: 20px;
      height: 400px;
      width: 300px;
    }
    }


    @media only screen and (max-width:411px){
      #submenu li a{
        font-size: 13px;
        color: #6d6666;
        font-family:sans-serif;
        padding:4px 50px;
        margin-top:1px;
        width:90px;
        background:#00000026;
        font-weight:600;
        transition:0.2s;
        white-space:nowrap;
        margin:5px;
        display:flex;
        justify-content: center;
      }
      
        .header a{
       font-family:sans-serif;
       font-size:12px;
       margin:30px -1px;
       text-decoration:none;
       color:rgb(248, 250, 252);
       background:#f0f8ff00;
       padding:3px 10px;
       background:#131212;
      }
      
      
      .header a:nth-child(1){
        margin-top:0px;
        padding:2px 20px;
      }
      
      
      .sign a i{
        font-size: 15px;
      }
      .sign p{
      font-size:7px
      }
      
      .sign a{
        text-decoration: none;
        color: #464343;
        margin: 3px;
      }
      
      .sign{
        height:30px
      }
      

     .centre p{
       font-size: 13px;
      line-height: 3ch;
       color:rgb(90, 88, 88);
        }

      .listes{
  font-size: 13px;
  color:rgb(90, 88, 88);
  line-height:1.3;
  list-style-type:square
}

       .centre h3{
  margin-bottom: 50px;
  font-size: 15px;
  color: white;
  white-space:nowrap
}

.nos-images div h4{
  position:relative;
  top:150px;
  left:13px;
  color: rgb(53, 49, 49);
  font-size:11px
}
      }

      @media only screen and (max-width:360px){
      .nos-images div{
  margin:0px;
  height:120px;
  width:120px;
  background:#fff;
  margin-bottom:55px;
  border-radius:100px;
  border: 7px solid #798fa5;
}

.nos-images div:nth-child(1):before{
  height:106px;
  width:106px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div:nth-child(2):before{
  height:106px;
  width:106px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div:nth-child(3):before{
  height:106px;
  width:106px;
  margin-left:0px;
  margin-top:0px;
}


.nos-images div h4{
  position:relative;
  top:120px;
  left:10px;
  color: rgb(53, 49, 49);
  font-size:10px
}

.nos-images div .h4eric{
  margin-left: 15px
}
  .membres{
  height: 600px;
  width: 300px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:550px;
 width: 250px;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
margin-top:-50px
}

    }


      @media only screen and (max-width:343px){
        #submenu li a{
          font-size: 10px;
          color: #6d6666;
          font-family:sans-serif;
          padding:4px 10px;
          margin-top:1px;
          width:90px;
          background:#00000026;
          font-weight:600;
          transition:0.2s;
          white-space:nowrap;
          margin:5px;
          display:flex;
          justify-content: center;
        }
        
          .header a{
         font-family:sans-serif;
         font-size:11px;
         margin:30px -1px;
         text-decoration:none;
         color:rgb(248, 250, 252);
         background:#f0f8ff00;
         padding:3px 10px;
         background:#131212;
        }
        
        
        .header a:nth-child(1){
          margin-top:0px;
          padding:2px 15px;
        }
        .header{
          align-items:flex-start;
          padding-left:50px
        }
        }

        @media only screen  and (max-width:330px){
          .centre{
            padding:20px
          }
        }


        @media only screen and (max-width:311px){
        
          .info1-footer{
          margin: 20px;
          height: 400px;
          width: 250px;
        }
        
          .info2-footer{
          margin: 20px;
          height: 400px;
          width: 250px;
        }
        
          .info3-footer{
          margin: 20px;
          height: 400px;
          width: 250px;
        }
        
        .bouton{
        height:30px;
        width:30px;
        background:#2a2a31;
        position:fixed;
        right:10px;
        
        }
        
        .bouton i{
          font-size:20px
        }
        
        .footer{
          height:auto
        }
        
        .sign{
          height:30px;
          background-color: rgb(34 33 35);
          width:100%;
          display: flex;
          justify-content:space-around;
          align-items: center;
          flex-direction:column
        }
        
        .line{
              height: 3px;
              width: 25px;
              background: white;
              margin: 5px;
          }

      .centre h3{
  margin-bottom: 50px;
  font-size: 15px;
  color: white;
  white-space:nowrap
}

    .centre p{
       font-size: 11px;
      line-height: 3ch;
       color:rgb(90, 88, 88);
        }

      .listes{
  font-size: 11px;
  color:rgb(90, 88, 88);
  line-height:1.3;
  list-style-type:square
}

.membres h3{
  margin-bottom:55px
}


  .membres{
  height: 600px;
  width: 250px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:550px;
 width: 200px;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
margin-top:-50px
}

        
        }

        @media only screen and (max-width:280px){
         .centre h3{
  font-size: 14px;
  color: white;
  white-space:nowrap
       }


        }
 
        
        @media only screen and (max-width:270px){
          .header{
            padding-left:0px;
            height:422px
          }
            .img-eso-dev2{
            height:80px;
            width:80px;
            bottom:25px;
           left:30px
          }
        
            .span2 h3{
            position:relative;
            font-size:7px;
            left:5px;
            font-family:sans-serif;
            color: rgb(173, 190, 190);
             bottom:48px;
             z-index:20
            }
        
        
        }
        @media only screen and (max-width:265px){
        
          .banniere{
            height:350px
          }
          .banniere p{
        font-size:12px;
        }
        
        .header{
          height:372px
        }
        
          .header a{
         font-size:11px;
         margin:20px -1px;
        }
        
          .info1-footer{
          margin: 20px;
          height: 400px;
          width: 200px;
        }
        
        .info1-footer h3{
          font-size:15px
        }
        
        .info1-footer p{
          font-size:11px
        }
        
          .info2-footer{
          margin: 20px;
          height: 400px;
          width: 200px;
        }
        
        .info2-footer h3{
          font-size:15px
        }
        
        .info2-footer p{
          font-size:11px
        }
        
          .info3-footer{
          margin: 20px;
          height: 400px;
          width: 200px;
        }
        
        .info3-footer h3{
          font-size:15px
        }
        
        .info3-footer p{
          font-size:11px
        }

          .centre p{
       font-size: 10px;
      line-height: 3ch;
       color:rgb(90, 88, 88);
        }

      .listes{
  font-size: 10px;
  color:rgb(90, 88, 88);
  line-height:1.3;
  list-style-type:square
}

         .centre h3{
  font-size: 10px;
  color: white;
  white-space:nowrap
       }

       .nos-images div h4{
  position:relative;
  left:5px;
  color: rgb(53, 49, 49);
  font-size:8px
}

.nos-images div .h4jean{
position:relative;
left:14px
}

      .nos-images div{
  margin:0px;
  height:100px;
  width:100px;
  background:#fff;
  margin-bottom:55px;
  border-radius:100px;
  border: 7px solid #798fa5;
}

.nos-images div:nth-child(1):before{
  height:86px;
  width:86px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div:nth-child(2):before{
  height:86px;
  width:86px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div:nth-child(3):before{
  height:86px;
  width:86px;
  margin-left:0px;
  margin-top:0px;
}

.nos-images div h4{
  position:relative;
  top:100px;
  color: rgb(53, 49, 49);
}


  .membres{
  height: 500px;
  width: 210px;
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
  
  .membres .nos-images{
 height:480px;
 width: 200px;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
margin-top:-50px
}


        }
        
        @media only screen and (max-width:217px){
          .sign p{
        font-size:6px
        }
        }
        

        @media only screen and (max-width:220px){
          .header a{
       font-family:sans-serif;
       font-size:10px;
       margin:25px -1px;
       text-decoration:none;
       color:rgb(248, 250, 252);
       background:#f0f8ff00;
       padding:3px 10px;
       background:#131212;
      }
      
      #submenu li a{
        font-size: 7px;
        color: #6d6666;
        font-family:sans-serif;
        padding:3px 10px;
        margin-top:1px;
        width:70px;
        background:#00000026;
        font-weight:600;
        transition:0.2s;
        white-space:nowrap;
        margin:5px;
        display:flex;
        justify-content: center;
      }
      
        .line{
            height: 3px;
            width: 25px;
            background: white;
            margin: 4px;
        }
        
      }

      @media only screen and (max-width:217px){
          .membres{
  height: 500px;
  width: 160px;
  margin-top:50px;
}
  
  .membres .nos-images{
 height:480px;
 width: 150px;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
margin-top:-50px
}
      }


      @media only screen and (max-width:211px){
      .info1-footer{
      margin: 20px;
      height: 400px;
      width: 180px;
      }
      
      .info2-footer{
      margin: 20px;
      height: 400px;
      width: 180px;
      }
      
      .info3-footer{
      margin: 20px;
      height: 400px;
      width: 180px;
      }
      .sign p{
      font-size:5px
      }
      
      }
      

      /*responsive boutonhaut*/

@media only screen and (max-height:579px){
  .bouton{
right:10px;
top:480px;
}
}

@media only screen and (max-height:556px){
  .bouton{
right:10px;
top:450px;
}
}


@media only screen and (max-height:525px){
  .bouton{
right:10px;
top:390px;
}
}

@media only screen and (max-height:470px){
  .bouton{
right:10px;
top:350px;
}
}

@media only screen and (max-height:431px){
  .bouton{
right:10px;
top:300px;
}
}
@media only screen and (max-height:381px){
  .bouton{
right:10px;
top:280px;
}
}
@media only screen and (max-height:360px){
  .bouton{
right:10px;
top:250px;
}
}
@media only screen and (max-height:330px){
  .bouton{
right:10px;
top:210px;
}
}
@media only screen and (max-height:390px){
  .bouton{
right:10px;
top:250px;
}
}
@media only screen and (max-height:330px){
  .bouton{
right:10px;
top:200px;
}
}

@media only screen and (max-height:280px){
  .bouton{
right:10px;
top:150px;
}
}

@media only screen and (max-height:230px){
  .bouton{
right:10px;
top:100px;
}
}
/*fin responsive boutonhaut*/

/*fin responsive*/